*{
    margin: 0%;
    padding: 0%;
}

.main{
    background-color: rgb(24, 24, 88);
    width: 100vw;
  /* height: 500vh; */
}

.intro{
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.viedoSection{
    background-color: rgb(20, 20, 78);
    width: 100vw;
    height:35vh;
}
 .upcomingSection{
    /* background-color: orange; */
    width: 100w;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.statsSection{
    background-color: rgb(20, 20, 78);
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subSection{
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    /* background-color: white; */
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.left{
   /* background-color: green; */
   width: 15vw;
   height: 6vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.middle{
    /* background-color: white; */
    width: 40vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
/* .middle a{
    margin-left: 2rem;
    margin-right: 2 rem;
} */
.innernav_bar{
    width: 80vw;
}
.nav_home{
   background-color: rgb(60, 165, 60);
   width: 6vw;
   height: 5vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
}

.nav_all{
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.nav_all:hover{
    cursor: pointer;
}
.right{
    /* background-color:red; */
    width: 25vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cart_icon{
    height: 3vh;
    width: 3vw;
    margin-right: 0.3rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.cart_count{
    height: 2vh;
    width: 1vw;
    border-radius: 100%;
    /* background-color: yellow; */
    margin-top: -13px;
    margin-left: -7px;
    display: flex;
     align-items: center;
    justify-content: center;
    background-color: green;
}
.right_txt:hover{
  cursor: pointer;
}
.text_img{
    height: 90vh;
    width: 80vw;
    /* background-color: blue; */
    display: flex;
}
.nav_text{
     height: inherit;
     width: 50vw;
     /* background-color: green; */
     display: flex;
     align-items: center;
     justify-content: center;
     text-transform: uppercase;
}
.nav_text_inner{
    height: 60vh;
    /* background-color: black; */
    color: white;
    font-size: larger;
    font-weight: bold;
}
.nav_img{
    height: inherit;
    width: 50vw;
    /* background-color:red; */
}
.inner_img{
    height: 70%;
    width: 90%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner_img img{
    height: 50vh;
    width: 30vw;
}
.nav_text_inner .d1{
    width: fit-content;
    height: 6vh;
    /* background-color: orange; */
    color :rgb(60, 165, 60);
    font-size: 2rem;
}
.d2{
    font-size: 5rem;
    margin-bottom: 1rem;
}
.d3{
   font-size: 4rem;
   margin-bottom: 2rem;
}
.d5{
    /* background-color: blue; */
    height: 6vh;
    margin-top: 1rem;
    display: flex;
}
.play_btn{
    /* background-color : yellow; */
    width: 10rem;
    display: flex;
    color: white;
    align-items: center;
    background-color :rgb(60, 165, 60);
    /* justify-content: center; */
    margin-right: 1rem;
    cursor: pointer;
}
.play_btn button{
    width: 8rem;
    height: 5vh;
    border: none;
    color: white;
    font-size: 1.2rem;
    background-color :rgb(60, 165, 60);
    cursor: pointer;
}
.play_btn img{
    color: white;
}
.pause_btn{
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    cursor: pointer;
}
.viedoSection{
    display: flex;
    align-items: center;
    justify-content: center;

}
.viedoSection_inner{
     width: 80vw;
     height: inherit;
     /* background-color: red; */
     display: flex;
     align-items: center;
}

.viedo_img{
  width: 50vw;
  height:35vh;
  /* background-color: yellow; */
}
.img_container{
    width: 40vw;
    height: 35vh;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-self: center;
}
.img_container img{
    width: 30vw;
    height: 30vh;
}
.viedo_text{
    width: 50vw;
    height:inherit;
    /* background-color: pink; */
    padding-bottom: 2px;
}
.watch_live_stream {
    /* background-color: white; */
    width: 15vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
    margin-top: -3.3rem;
    color: white;
    z-index: 1;
}

.liveStream{
    /* background-color: blue; */
    display: flex;
    margin-bottom :0.7rem;
    margin-top:0.5rem;
}
.liveStreaming{
    color: white;
}
.liveStream_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;

}
 .line{
    width: 2rem;
    height: 3px;
    background-color :rgb(60, 165, 60);
}
.watchUnlimited {
    /* background-color: red; */
    margin-bottom :0.7rem;
    width: fit-content;
    height: 6vh;
    font-size: 2rem;
    color: white;
}
.v_text{
    /* background-color: green; */
    width: 18rem;
    margin-bottom :0.7rem;
    font-size: 0.6rem;
}
.v_text p{
    color: white;
}
.viedo_text_button{
    /* background-color: yellow; */
    margin-bottom :0.7rem;
    height: 3vw;
    display: flex;
    align-items: center;
}
.viedo_text_button button{
    width: 10vw;
    height: 5vh;
    background-color :rgb(60, 165, 60);
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.viedo_text_button img{
    /* background-color: white; */
    margin-left: -1.7rem;
    margin-top: 4px;
    color:white;
}
.ucomingSection_inner{
    width: 80vw;
    /* background-color: red; */
    height: inherit;
}
.total_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards1{
    width:25vw;
    height: 47vh;
    /* background-color: white; */
    margin-top: 3rem;
    border: 2px solid grey;
    border-radius: 10px;
}
.card_containertitle {
    /* background-color:green; */
    width: inherit;
    height: 20vh;
    border-radius: 10px;
}
.middleline{
    /* background-color: purple; */

    width: inherit;
    height: 7vh;
    display: flex;
}
.leftLine{
   width: 8vw;
   /* background-color: black; */
   height: inherit;
   display: flex;
   align-items: center ;
   justify-content: center;
}
.actualLine{
    width: inherit;
    height: 2px;
    background-color:grey ;
}
.middle_box{
  width: 9vw;
  display: flex;
  align-content: center;
  justify-content: center;
  color: green;
  border: 2px solid grey;
  border-radius: 20%;
}
.middle_box_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playbtn img{
    height: 4vh;

}
.lstream{
    margin-left: 0.3rem;
}
.rightline{
    width: 8vw;
    /* background-color: black; */
    height: inherit;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.card_containertitle{
    display: flex;
}

.leftpic{
    width: 10vw;
    display: flex;
}
.leftpic img{
    height: 15vh;

}
.middlevs{
    width: 5vw;
    display: flex;
}
.vs{
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: center;
    /* background-color: yellow; */
}
.vs p{
    font: bolder;
    color: white;
    font-size: 5rem;
}
.rightpic{
    width: 10vw;
    display: flex;
}
.rightpic{
    height: 15vh;
}
.date{
  height: 6vh;
  /* background-color: green; */
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.year{
    height: 6vh;
    /* background-color: red; */
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}
.totalregistered{
    height: 6vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
}
.upcomingMatches_btnk{
    /* background-color: blue; */
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.upmatchsbtn button{
     height: 6vh;
     width: 9vw;
     font-size: large;
     color: white;
     background-color :rgb(60, 165, 60);
     border:none;

}
.upmatch_inner{
    height: inherit;
    width: 30vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.upcomingMathches{
    /* background-color: yellow; */
    height: 10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upMatch{
  font-size: 1.8rem;
  color: white;
}

.statsSection_inner{
    width: 80vw;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 10px;
    /* background-color: black; */
}

.stats1{
width: 20vw;
height: 20;
/* background-color: green; */
color: white;
}
.numb{
    width: inherit;
    height:15vh ;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}
.twitchStream{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 10vh;
}
.tstream_inner{
    width: 7vw;
    height: 3vh;
    background-color :rgb(60, 165, 60);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subSection_inner{
    width: 80vw;
    height: inherit;
    /* background-color: purple; */
}
.newsLetter{
   width: inherit;
   height: 40vh;
   background-color: rgb(60, 165, 60);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 16px;
}
.additionalInfo{
   height: 60vh;
   width: inherit;
   /* background-color: red; */
   display: flex;
   /* justify-content: space-between; */
}
.info1{
    width: 20vw;
    height: 40vh;
    /* background-color: yellow; */
}
.game8sec{
    /* background-color: blue; */
    height: 7vh;
    display:flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
}
.game8bottom{
    /* background-color:purple; */
    width: 13vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.info2{
    width: 20vw;
    height: 40vh;
    /* background-color: black; */
}
.location{
 /* background-color: white; */
 margin-bottom: 10px;
 color: green;
}
.location p{
    width: max-content;
    margin-top: 6px;
    color: white;
}
.phone{
    color: green;
}
.phone p{
  margin-top: 6px;
  color: white;
}
.info3{
    width: 10vw;
}
.info3text{
    margin-bottom: 1rem;
    color: white;
}
.info3 p{
    margin-bottom: 1rem;
}
.info4{
    width: 30vw;
}
.winner_cards{
    height: 30vh;
    width: inherit;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
}
.img1{
    width: 7vw;
    height: 10vh;
    /* background-color: black; */
    display: flex;
}
.newsLetter{
    display: flex;
}
.newLetterleft{
    /* background-color: red; */
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
}
.newLetterRight{
    /* background-color: yellow; */
    width: 40vw;
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input1{
    height: 6vh;
    width: 20vw;
    /* background-color: red; */
    border-radius: 10px;
}
.input1 input{
    height: 6vh;
    width: 20vw;
    border: none;
    padding-left: 12px;
    border-radius: 10px;
}
.subscribebtn{
    height: 6vh;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:-8rem;
    border-radius: 10px;
}
.subscribebtn button{
    height: 5vh;
    border: none;
    width: 8.8vw;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
}

.subscribeLetter{
    /* background-color: pink; */
    width: 20vw;
    height: 8vh;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.subtext{
    /* background-color: orange; */
    width: 20vw;
}